@import "background_animator.css";

body {
  background: black;
  cursor: none;
}

#grid {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  height: 40em;
  width: 40em;
  margin: 2em auto;
}

.tile {
  border: 0.05em solid black;
  border-radius: 0.25em;
}
.black_tile:hover {
  background-color: rgb(0, 255, 30);
}

/* <-colored tiles-> */

.tic {
  background-color: rgb(125, 38, 205);
  animation: opacity 3s linear infinite;
}

.tic:hover {
  background-color: rgb(0, 255, 30);
  transform: scale(1.3);
  z-index: 1;
}

.tac {
  background: rgb(127, 0, 255);
  animation: opacity 5s linear infinite;
}

.tac:hover {
  background-color: rgb(0, 255, 30);
  transform: scale(1.3);
  z-index: 1;
}

.toe {
  background: rgb(138, 43, 226);
  animation: opacity 4s linear infinite;
}

.toe:hover {
  background-color: rgb(0, 255, 30);
  transform: scale(1.3);
  z-index: 1;
}

.toe_o {
  animation: opacity 3s linear infinite;
  background: rgb(165, 42, 42);
}

.button1 {
  cursor: grab;
}

.button2 {
  cursor: grab;
}

.button1_num {
  background-color: rgb(125, 38, 205);
}

.button2_num {
  background-color: rgb(127, 0, 255);
}

.button1_background {
  background-color: rgb(222, 90, 90);
}

.button2_background {
  background-color: rgb(222, 90, 90);
}
