@import "background_animator.css";

#grid {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  height: 40em;
  width: 40em;
  margin: 2em auto;
}

.home_tile {
  border: 0.05em solid black;
  border-radius: 0.25em;
}

.black_tile:hover {
  background-color: rgb(0, 255, 60);
}

/* <-colored tiles-> */

.tic {
  background-color: rgb(125, 38, 205);
}

.tic:hover {
  background-color: rgb(0, 255, 60);
}

.tac {
  background: rgb(127, 0, 255);
}

.tac:hover {
  background-color: rgb(0, 255, 60);
}

.toe {
  background: rgb(138, 43, 226);
}

.toe:hover {
  background-color: rgb(0, 255, 60);
}

.toe_o {
  background: rgb(165, 42, 42);
  animation: opacity s linear infinite;
}

.toe_o:hover {
  background: rgb(0, 255, 60);
}

.button1 {
  cursor: grab;
}

.button2 {
  cursor: grab;
}

.button1_num {
  background-color: rgb(125, 38, 205);
  animation: opacity 3s linear infinite;
  border: 1px solid rgb(165, 42, 42);
  /* border: 1px solid rgb(222, 90, 90); */
}

.button2_num {
  background-color: rgb(127, 0, 255);
  animation: opacity 3s linear infinite;
  border: 1px solid rgb(165, 42, 42);
  /* border: 1px solid rgb(222, 90, 90); */
}

.button1_background {
  background-color: rgb(165, 42, 42);
  /* background-color: rgb(222, 90, 90); */
  border: 1px solid rgb(125, 38, 205);
}

.button2_background {
  background-color: rgb(165, 42, 42);
  /* background-color: rgb(222, 90, 90); */
  border: 1px solid rgb(127, 0, 255);
}
