.border_one {
  background-color: rgb(125, 38, 205);
}

.one-two_one {
  background-color: rgb(125, 38, 205);
}

.border_two {
  background-color: rgb(127, 0, 255);
}

.one-two_two {
  background-color: rgb(127, 0, 255);
}
