#board_container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(57, 57, 57, 0.3);
  gap: 1em;
  height: 35em;
  width: 32em;
}

.tile_container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  gap: 0.125em;
}

.board_tile {
  border: 1px solid rgba(57, 57, 57, 0.3);
  border-radius: 0.125em;
}

.board_tile:hover {
  background-color: rgb(0, 255, 60) !important;
}
